html, body { height:100%; margin:0; padding:0 }
div { 
    position:fixed; 
    width:50%; 
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#quad1 { top:0;   left:0;   background:orange;}
#quad2 { top:0;   left:50%; background:blue    }
#quad3 { top:50%; left:0;   background:green   }
#quad4 { top:50%; left:50%; background:red     } 

span {
    font-weight: bold;
    font-size: 10pt;
    position: relative;
    font-size: 5em;
}

#inputContainer {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
}